a {
  familia de fuentes: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
.comment-rating {
  text-align: right;
  font-weight: bold;
}
.comment-description
{
  text-align: justify;
  font-family: "Brush Script MT";
}

