<app-loading *ngIf="!album"></app-loading>
<div *ngIf="album">
  <app-detail-header
    [title]="album.name"
    [subtitle]="album.listaPerformers"
    [description]="album.description"
    [imgSrc]="album.cover"
    [breadcrumbs]="breadcrumbs"
    [featured]="featured"
  ></app-detail-header>
</div>

<div class="container mt-5 mb-5">
  <div class="row mb-5">
    <div class="col">
      <h2 class="mb-3 h3">Canciones</h2>
      <app-table
        [headers]="cancionesTable.headers"
        [rows]="cancionesTable.rows"
        [tableContentName]="cancionesTable.tableContentName"
      ></app-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3 h3">Comentarios</h2>
    </div>
  </div>
  <div class="row" *ngIf="album">
    <div class="col-12 col-sm-4" *ngFor="let comment of album.comments">
      <div class="card">
        <div class="card-body">
          <p
            class="card-title padded comment-description"
            aria-label="Comentario sobre álbum"
          >{{ comment.description }}</p>
          <span
            class="h5 card-text comment-rating"
            aria-label="rating dado al álbum"
          >{{ comment.rating }}/5</span>
        </div>
      </div>
    </div>
  </div>
</div>
