
<div class="container-fluid">
  <div id="titleAlbums" class="row">
    <div class="col-12 pageTitle">
    Lista de Álbumes
    </div>
  </div>
  <div id="AlbumsListRow" class="row filaContenido">
    <div class="col-1"></div>
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Portada</th>
          <th class="h4">Título</th>
          <th class="h4">Músico</th>
          <th class="h4">Lanzamiento</th>
          <th class ="h4"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of albumes">
          <td>
            <ngui-in-view>
              <img src="{{b.cover}}" class="smallCover" >
            </ngui-in-view>
          </td>
          <td>
            <dd>{{b.name}}</dd>
          </td>
          <td>
            <dd>{{b.recordLabel}}</dd>
          </td>
          <td>
            <dd>{{b.releaseDate|date:'fullDate':'es'}}</dd>
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" class="openDetailsButton bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
              </svg>
            </button>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
