<app-list-header [title]="title"></app-list-header>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <form>
        <div class="mb-4">
          <label for="musician-name" class="form-label">Nombre</label>
          <input
            required
            type="text"
            class="form-control"
            name="name"
            id="musician-name"
          >
        </div>
        <div class="mb-4">
          <label for="musician-thumbnail" class="form-label">Imagen del músico</label>
          <input
            required
            type="url"
            name="thumbnail"
            id="musician-thumbnail"
            placeholder="https://example.com/example.jpg"
            pattern="https://.*"
            class="form-control"
          >
        </div>
        <div class="mb-4">
          <label for="musician-birthday" class="form-label">Fecha de nacimiento</label>
          <input
            required
            type="date"
            name="birthday"
            id="musician-birthday"
            class="form-control"
          >
        </div>
        <div class="mb-5">
          <label for="musician-description" class="form-label">Descripción</label>
          <textarea
            required
            class="form-control"
            rows="2"
            name="description"
            id="musician-description"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Crear músico</button>
      </form>
    </div>
  </div>
</div>
