<div class="container-fluid">
  <div id="titleCollectors" class="row">
    <div class="col-12" style="font-size: 18px;">
      <strong>Lista de Coleccionistas</strong>
    </div>
  </div>
  <div id="collectorsListRow" class="row filaContenido">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table" aria-describedby="titleCollectors">
        <caption>Schedule for the week of March 6</caption>
        <thead>
          <tr>
            <th class="h3" id="nombre">Nombre</th>
            <th class="h3" id="telefono">Teléfono</th>
            <th class="h3" id="email">Email</th>
            <th class="h3" id="button"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of collectors">
            <td>
              <dd>{{b.name}}</dd>
            </td>
            <td>
              <dd>{{b.telephone}}</dd>
            </td>
            <td>
              <dd>{{b.email}}</dd>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
