.nav {
  flex: 1;
}
.nav-link {
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link:hover {
  color: white;
  background-color: rgba(103, 81, 242, 1);
}
.nav-link.active {
  color: white;
  background-color: rgba(103, 81, 242, 1);
}
.bi {
  font-size: 24px;
  margin-right: 8px;
  vertical-align: middle;
}
.logo {
  padding: 32px 16px;
}
.logo .bi {
  color: rgba(103, 81, 242, 1);
  font-size: 48px;
}
