<div class="d-flex min-vh-100">
  <div id="lateralMenu" class="p-0">
    <app-navbar [current]="current" (buttonClick)="onNavbarClick($event)"></app-navbar>
  </div>
  <div class="container-fluid min-vh-100">
    <div class="row">
      <div id="mainContent"class="col p-0 min-vh-100">
        <app-albums *ngIf="current === 'albums'"></app-albums>
        <app-musician-list *ngIf="current === 'musicians'"></app-musician-list>
        <app-collectors *ngIf="current === 'collectors'"></app-collectors>
      </div>
    </div>
  </div>
</div>
