.list-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background: linear-gradient(126.7deg, #F6F2FF 0%, #F2FCFF 100%);
}
.btn {
  background: rgba(103, 81, 242, 1);
  color: white;
}
.btn:hover,
.btn:focus {
  background: rgb(73, 58, 170);
}
