<app-loading *ngIf="!collector"></app-loading>

<div *ngIf="collector">
  <app-detail-header
    [title]="collector.name"
    [breadcrumbs]="breadcrumbs"
  > </app-detail-header>
  <div class="container lg-12">
    <div class="lg-3">
      <button type="button" class="btn btn-primary btn-circle" (click)="detailsCollertor(collector.id)"> << Atras </button><br><br>
    </div>
    <div class="row">
      <h5 class="lg-7 h4" >Agregar álbum a coleccionista</h5>
      <div class="alert alert-success" role="alert">
        Si desea asociar un álbum al coleccionista, debe dar clic en el boton  +
      </div>
      <div class="col">
        <app-table [headers]="headers"  [rows]="rows" [tableContentName]="tableContentName"></app-table>
      </div>
    </div>
  </div>
</div>
