.details-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background: linear-gradient(126.7deg, #F6F2FF 0%, #F2FCFF 100%);
}

.musician-img {
  object-fit: cover;
  height: 250px;
  width: 250px;
  box-shadow: 0px 0.5rem 1rem rgba(23, 97, 255, 0.15);
}

.featured-title {
  color: rgba(103, 81, 242, 1);
}

.featured-text-item
{
  margin-right: 50px;
}
