<div class="details-header">
  <div class="container">
    <div *ngIf="breadcrumbs.length" class="row mb-3">
      <div class="col">
        <app-breadcrumbs [headers]="breadcrumbs"></app-breadcrumbs>
      </div>
    </div>
    <div class="row">
      <div *ngIf="imgSrc" class="col-12 col-md-3">
        <img class="musician-img" [src]="imgSrc" [alt]="title" />
      </div>
      <div class="col-12 {{imgSrc ? 'col-md-9' : 'col-md-12'}}">
        <h1 *ngIf="title" class="display-5 featured-title">{{title}}</h1>
        <h3 *ngIf="subtitle" class="text-secondary featured-subtitle">{{subtitle}}</h3>
        <p *ngIf="description" class="lead">{{description}}</p>
        <div *ngIf="featured.length" class="mt-5 container-fluid">
          <div class="row">
            <div *ngFor="let feature of featured" class="featured-text-item pe-3 col-fluid-3">
              <h6 class="text-uppercase fw-bold">
                <small>{{feature.title}}</small>
              </h6>
              <h5 class="text-secondary">{{feature.subtitle}}</h5>
            </div>
          </div>
        </div>

        <div *ngIf="featured1.length" class="d-flex mt-5 container-fluid">
          <div *ngFor="let feature of featured1" class="col-5">
            <div class="row">
              <div class="col-6">
                <h6 class="text-uppercase fw-bold">
                  {{ feature.title }}
                </h6>
                <h5 class="text-secondary">{{ feature.subtitle }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
