/* You can add global styles to this file, and also import other style files */

html, body, app-root{
  height: 100%;
}


.filaContenido{
  background: #FFFFFF;
}

.pageTitle{
height: 30%;
min-height: 50px;
padding-left: 5%;
padding-right: 10%;
padding-top: 2%;
padding-bottom: 2%;


/* Base / XL */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 26px;
/* identical to box height, or 108% */

letter-spacing: 0.03em;

vertical-align: middle;

color: #111111;
}

.h4{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
text-transform: uppercase;

color: #000000;
}

.dataCell{
  /* Base / XS */

font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.03em;

color: #000000;
}

.openDetailsButton{
  left: 90.09%;
right: 7.48%;
top: 31.67%;
bottom: 65%;

/* Accent */
background: #6751F2;
border-radius: 24px;
width:32px;
height:32px;
fill:currentColor;
border: 2px solid #FFFFFF;
color:#FFFFFF;

}

.btn{
  border: 2px solid #FFFFFF;
  background: #6751F2;
}
